Heroes Of Pymoli Data Analysis 
- Out of 576 total active players the majority are male.(84%)
- The proportion of females playing the game actively comes out to 14%.
- Our most popular items catogorized by their Item ID in order ranking from 1-5 are: 178, 145, 108, 82 and 19.
- Our most profitable items catogorized by their Item ID in order ranking from 1-5 are: 178, 82, 145, 92, 103.
- Our largest age demographic is 20-24(44.8%) followed by 15-19(18.6%) and then 25-29(13.4%).
- We can safely conclude our largest demographic would be catogorized by 20-24 year old males. These are also the biggest spenders within the game with total spent of 1114.06 dollars and a highest average per player spent of 4.32 dollars.

In [535]:
# Import dependencies and Setup
import pandas as pd
import numpy as np

#Loading csv file
data_file = "purchase_data.csv"

#Read file and store into Pandas data frame 
Pymoli_Data = pd.read_csv(data_file)

In [536]:
#Getting first peak at loaded data 
#Pymoli_Data.head()

In [537]:
#declaring and defining Total Players variable
Total_Players = Pymoli_Data['SN'].nunique()

Player Count

In [538]:
#creating Total Players data frame 
Total_Players_Df = pd.DataFrame ({"Total Players": [Total_Players]})
Total_Players_Df

   Total Players
0            576

In [539]:
#declaring and calculating variables needed for Purchase Analysis data frame 
#printing outputs 
num_unique_items = Pymoli_Data['Item Name'].nunique()  
#print (num_unique_items)

average_price = Pymoli_Data['Price'].mean()
#print (average_price)

num_of_purchases = Pymoli_Data['Purchase ID'].nunique()
#print (num_of_purchases)

total_revenue = Pymoli_Data['Price'].sum()
#print (total_revenue)

Purchasing Analysis (Total)

In [540]:
#creating Purchase Analysis data frame by plugging in variables
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[num_unique_items],
                                    'Average Price':[average_price],
                                    'Number of Purchases':[num_of_purchases],
                                    'Total Revenue':[total_revenue]})
#formatting data to appear cleaner 
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

#printing data frame 
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [541]:
#dropping duplicates via screename to get accurate count of male/female
drop_duplicateSN_df = Pymoli_Data.drop_duplicates(['SN'], keep='first')

In [542]:
#calculating counts of male/female
male_female_counts = drop_duplicateSN_df['Gender'].value_counts()
#male_female_counts.head()

In [543]:
#calculating percentages of players based on gender
gender_percents = drop_duplicateSN_df['Gender'].value_counts()/Total_Players * 100
#gender_percents.head()

Gender Demographics

In [544]:
#creating summary Dataframe for Gender Demographics 
gender_summary = pd.DataFrame({"Total Count": male_female_counts,
                               "Percentage of Players": gender_percents})
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("%{:.2f}".format)
gender_summary.head()

                       Total Count Percentage of Players
Male                           484                %84.03
Female                          81                %14.06
Other / Non-Disclosed           11                 %1.91

In [545]:
#Creating purchasing analysis by gender. 
#calculated total purchase count per gender
purchase_count = Pymoli_Data['Gender'].value_counts()
#purchase_count.head()

In [546]:
#grouping data by "gender"
gender_grouped = Pymoli_Data.groupby(['Gender'])
#gender_grouped.count().head(10)

In [547]:
#calculated average purchase price based on gender groupby
avg_purchase_price = gender_grouped["Price"].mean()
#avg_purchase_price.head()

In [548]:
#calculated total purchase value based on gender groupby
total_purchase_value = gender_grouped["Price"].sum()
#total_purchase_value.head()

In [549]:
#calculate avg total purchase per person 
avg_per_person = total_purchase_value/male_female_counts
#avg_per_person.head()

Purchasing Analysis (Gender)

In [550]:
#creating the DataFrame for purchase analysis based on gender
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": avg_purchase_price,
                                       "Total Purchase Value": total_purchase_value,
                                       "Avg Total Purchase per Person": avg_per_person})
#reformatting for cleaner presentation
gender_purchase_summary["Average Purchase Price"] = gender_purchase_summary["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_summary["Total Purchase Value"] = gender_purchase_summary["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_summary["Avg Total Purchase per Person"] = gender_purchase_summary["Avg Total Purchase per Person"].map("${:.2f}".format)

gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [551]:
#Beginning Age Demographics analysis 
#printing max and min age values to create bins 
#print(Pymoli_Data["Age"].max()) =45
#print(Pymoli_Data["Age"].min()) =7

In [552]:
#creating bins to create age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

#creating labels for these bins 
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#slicing data and placing it into created bins
pd.cut(drop_duplicateSN_df["Age"], bins, labels=group_labels)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      20-24
8      20-24
9      35-39
10     20-24
11     20-24
12     20-24
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     20-24
19     30-34
20     20-24
21     20-24
22     35-39
23       40+
24     30-34
25     25-29
26     10-14
27       <10
28     20-24
29     20-24
       ...
728      40+
729    20-24
730    30-34
731    20-24
733    20-24
736    20-24
737    20-24
738    35-39
739    35-39
741    15-19
742    20-24
743    15-19
745    35-39
746    20-24
748    20-24
750    20-24
751    10-14
752    15-19
753    35-39
756    20-24
757    15-19
761      40+
765    15-19
769    15-19
771    15-19
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [553]:
drop_duplicateSN_df["Age Group"] = pd.cut(drop_duplicateSN_df["Age"], bins, labels=group_labels)
#drop_duplicateSN_df.head()

/Users/addisonpietroburgo/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [554]:
#calculating total count and percentage of players 
total_age_counts = drop_duplicateSN_df['Age Group'].value_counts()
#print(total_age_counts)

percent_by_age = drop_duplicateSN_df['Age Group'].value_counts()/Total_Players * 100
#print(percent_by_age)

Age Demographics

In [555]:
#creating a groupby object based on "Age Group"

by_age_df = pd.DataFrame({"Total Count": total_age_counts, "Percentage of Players": percent_by_age})
by_age_df["Percentage of Players"] = by_age_df["Percentage of Players"].map("%{:.2f}".format)

by_age_sort = by_age_df.sort_index(axis=0, level=None, ascending=True,
                                   inplace=False, kind='quicksort',
                                   na_position='last', sort_remaining=True, by=None)
by_age_sort.head(10)

       Total Count Percentage of Players
<10             17                 %2.95
10-14           22                 %3.82
15-19          107                %18.58
20-24          258                %44.79
25-29           77                %13.37
30-34           52                 %9.03
35-39           31                 %5.38
40+             12                 %2.08

In [556]:
#grouping new table by "Age Group"
Pymoli_Data["Age Group"] = pd.cut(Pymoli_Data["Age"], bins, labels=group_labels)
#Pymoli_Data.head()

In [557]:
total_purchase_counts = Pymoli_Data['Age Group'].value_counts()
#print(total_purchase_counts)

In [558]:
ages_grouped = Pymoli_Data.groupby(['Age Group'])
#ages_grouped.count().head()

In [559]:
avg_age_purchase_price = ages_grouped["Price"].mean()
#avg_age_purchase_price.head()

In [560]:
total_age_purchase_value = ages_grouped["Price"].sum()
#total_age_purchase_value.head()

In [561]:
avg_per_person_age = total_age_purchase_value/total_age_counts
#avg_per_person_age.head()

Purchasing Analysis (Age)

In [562]:
age_purchase_summary = pd.DataFrame({"Purchase Count": total_purchase_counts,
                                       "Average Purchase Price": avg_age_purchase_price,
                                       "Total Purchase Value": total_age_purchase_value,
                                       "Avg Total Purchase per Person": avg_per_person_age})
#reformatting for cleaner presentation
age_purchase_summary["Average Purchase Price"] = age_purchase_summary["Average Purchase Price"].map("${:.2f}".format)
age_purchase_summary["Total Purchase Value"] = age_purchase_summary["Total Purchase Value"].map("${:.2f}".format)
age_purchase_summary["Avg Total Purchase per Person"] = age_purchase_summary["Avg Total Purchase per Person"].map("${:.2f}".format)

age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

In [563]:
total_SN_purchase_counts = Pymoli_Data['SN'].value_counts()
#print(total_SN_purchase_counts)

In [564]:
SN_grouped = Pymoli_Data.groupby(["SN"])
#SN_grouped.count().head()

In [565]:
SN_avg_purchase = SN_grouped["Price"].mean()
#SN_avg_purchase.head()

In [566]:
SN_purchase_total = SN_grouped["Price"].sum()
#SN_purchase_total.head()

In [567]:
top_spenders = pd.DataFrame({"Purchase Count": total_SN_purchase_counts,
                            "Average Purchase Price": SN_avg_purchase,
                            "Total Purchase Value": SN_purchase_total})

#top_spenders.head()

Top Spenders

In [568]:
#sorting so data will descend from highest total purchase value
top_spenders_sort = top_spenders.sort_values(by='Total Purchase Value', ascending=False)

top_spenders_sort["Average Purchase Price"] = top_spenders_sort["Average Purchase Price"].map("${:.2f}".format)
top_spenders_sort["Total Purchase Value"] = top_spenders_sort["Total Purchase Value"].map("${:.2f}".format)
top_spenders_sort.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Most Popular Items

In [569]:
#grouping by item Id
Item_Id = Pymoli_Data.groupby(Pymoli_Data['Item ID'])

#calculating variables
Item_Name = Item_Id["Item Name"].unique()
Item_Purchase_Count = Item_Id['Age'].count()
Item_Price = Item_Id['Price'].unique()
Item_Total_Purchase = Item_Id['Price'].sum()

most_popular_items_df = pd.DataFrame({"Item Name": Item_Name,
                                     "Purchase Count": Item_Purchase_Count,
                                     "Item Price": Item_Price,
                                     "Total Purchase Value": Item_Total_Purchase})
#sorting values by Purchase Count so by popularity
most_popular_items_df = most_popular_items_df.sort_values('Purchase Count', ascending=False)

#some formatting 
most_popular_items_df.iloc[:, 2] = most_popular_items_df.iloc[:, 2].str[0].astype(float)
most_popular_items_df.iloc[:, 0] = most_popular_items_df.iloc[:, 0].str[0].astype(str)
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:.2f}".format)

most_popular_items_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

Most Profitable Items

In [570]:

#sorting table by total purchase value so by profit
MostProfit = ItemTable1.sort_values('Total Purchase Value', ascending=False)
#some formatting 
MostProfit.iloc[:, 2] = MostProfit.iloc[:, 2].str[0].astype(float)
MostProfit.iloc[:, 0] = MostProfit.iloc[:, 0].str[0].astype(str)
MostProfit["Item Price"] = MostProfit["Item Price"].map("${:.2f}".format)
MostProfit["Total Purchase Value"] = MostProfit["Total Purchase Value"].map("${:.2f}".format)


#displaying dataframe 
MostProfit.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80